TORQMIND_SSH_USER=deploy
TORQMIND_PG_HOST=10.0.0.11
TORQMIND_ANALYTICS_HOST=10.0.0.12
TORQMIND_APP_HOST=10.0.0.13
TORQMIND_PG_PRIVATE_IP=10.0.0.11
TORQMIND_ANALYTICS_PRIVATE_IP=10.0.0.12
TORQMIND_APP_PRIVATE_IP=10.0.0.13
TORQMIND_REPO_DIR=/home/deploy/apps/torqmind
TORQMIND_BRANCH=master
TORQMIND_ENV_DIR=/etc/torqmind
TORQMIND_REPO_URL=git@github.com:YOUR_ORG/YOUR_REPO.git
