POSTGRES_DB=TORQMIND
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD

PG_BIND_IP=10.0.0.11
PG_PORT=5432

POSTGRES_SHM_SIZE=1g
POSTGRES_MAX_CONNECTIONS=200
POSTGRES_SHARED_BUFFERS=512MB
POSTGRES_EFFECTIVE_CACHE_SIZE=1536MB
POSTGRES_WORK_MEM=16MB
POSTGRES_MAINTENANCE_WORK_MEM=256MB
POSTGRES_MAX_WAL_SIZE=2GB
POSTGRES_CHECKPOINT_COMPLETION_TARGET=0.9
POSTGRES_MAX_REPLICATION_SLOTS=10
POSTGRES_MAX_WAL_SENDERS=10
POSTGRES_WAL_KEEP_SIZE=1GB
