POSTGRES_HOST=IP_PRIVADO_POSTGRES
POSTGRES_PORT=5432
POSTGRES_DB=TORQMIND
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME_STRONG_POSTGRES_PASSWORD

CLICKHOUSE_BIND_IP=10.0.0.12
CLICKHOUSE_PORT=8123
CLICKHOUSE_NATIVE_PORT=9000
CLICKHOUSE_DATABASE=torqmind_mart
CLICKHOUSE_USER=torqmind
CLICKHOUSE_PASSWORD=CHANGE_ME_STRONG_CLICKHOUSE_PASSWORD
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

CDC_CLICKHOUSE_HOST=clickhouse
CDC_CLICKHOUSE_PORT=8123
CDC_CONSUMER_GROUP=torqmind-cdc-consumer
CDC_TOPICS=
CDC_TOPIC_PATTERN=^torqmind\..*
CDC_BATCH_SIZE=500
CDC_FLUSH_INTERVAL_SECONDS=5
CDC_POLL_TIMEOUT_SECONDS=1
CDC_AUTO_OFFSET_RESET=earliest
ENABLE_RAW_WRITES=true
ENABLE_CURRENT_WRITES=true
ENABLE_OPS_WRITES=true
ENABLE_MART_BUILDER=true
REALTIME_MARTS_SOURCE=stg
CDC_LOG_LEVEL=INFO

REDPANDA_SMP=1
REDPANDA_MEMORY=768M
REDPANDA_RESERVE_MEMORY=0M
REDPANDA_LOG_LEVEL=warn

DEBEZIUM_BIND_IP=127.0.0.1
DEBEZIUM_PORT=18083
DEBEZIUM_GROUP_ID=torqmind-debezium-connect
DEBEZIUM_HEAP_OPTS="-Xms256m -Xmx768m"
DEBEZIUM_SNAPSHOT_MODE=initial
