# Postgres (Docker)
PG_HOST=192.168.0.125
PG_PORT=5432
PG_DATABASE=TORQMIND
PG_USER=postgres
PG_PASSWORD=1234
DATABASE_URL=postgresql+asyncpg://postgres:1234@postgres:5432/TORQMIND
APP_ENV=dev
APP_CORS_ORIGINS=http://192.168.0.125:3000,http://localhost:3000,http://127.0.0.1:3000

# API
API_JWT_SECRET=CHANGE_ME_SUPER_SECRET
API_JWT_ISSUER=torqmind-api
API_ACCESS_TOKEN_MINUTES=60
INGEST_REQUIRE_KEY=False
SEED_PASSWORD=TorqMind@123

# Web
NEXT_PUBLIC_API_BASE=http://192.168.0.125:8000
NEXT_PUBLIC_API_URL=http://192.168.0.125:8000
